*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}
.body-text{
display: flex;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
align-items: center;
justify-content: center;
margin-top: 250px;

}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(32, 58, 3);
    color: white;
    padding: 12px;
    width: auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 12px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a:hover {
    background-color: rgb(141, 74, 47);
}

.mainPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
}

h1{
    text-decoration: underline;
}

.first{
    text-align: center;
    background-color: rgb(219, 219, 219);
    padding: 14px;
    margin-top: 10px;
    height: 250px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.firsta {
    font-size: large;
    letter-spacing: 1px;
    margin-top: 10px;
}

.firstPhoto {
    float: left;
    margin: 10px;
}

.second{
    text-align: center;
    background-color: rgb(136, 156, 113);
    padding: 14px;
    margin-top: 10px;
    height: 250px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.seconda {
    font-size: large;
    letter-spacing: 1px;
    margin-top: 10px;
}

.secondPhoto {
    float: right;
    margin: 8px;
}

footer {
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(32, 58, 3);
    color: white;
    padding: 12px;
    width: auto;
    margin-top: 10px;
}

.facebook{
    padding: 0px;
    width: 40px;
    height: auto;
    text-decoration: none;
}

.facebook:hover {
    opacity: 0.7;
}

.twitter{
    padding: 0px;
    width: 40px;
    height: auto;
    text-decoration: none;
}

.twitter:hover {
    opacity: 0.7;
}


.contacts {
    width: 90%;
    list-style: none;
}
 